<div style="max-width: 1200px; margin: 0 auto">
   <h1>ngx-modern-alerts</h1>


   <button (click)="addBannerAlert()" class="btn">Add Banner Alert</button><br>
   <button (click)="addFloatingAlert()" class="btn">Add Floating Alert</button>

   <div>
      <ngx-modern-alert text="Hi i am here" level="warning"></ngx-modern-alert>
      <ngx-modern-alert [text]="text" level="info"></ngx-modern-alert>
      <ngx-modern-alert [text]="text" level="info" [hideIcon]="true" [showCloseBtn]="true" (dismiss)="onDismissed()"></ngx-modern-alert>
      <ngx-modern-alert [text]="text" level="danger"></ngx-modern-alert>
      <ngx-modern-alert [text]="text2" level="warning"></ngx-modern-alert>
      <ngx-modern-alert [text]="text2" level="success"></ngx-modern-alert>
      <ngx-modern-alert [text]="text2"></ngx-modern-alert>

      <ngx-modern-alert level="info">
         <h3>Hello!</h3>
         This is the information text!
      </ngx-modern-alert>
   </div>
</div>
