:host {
   display: block;
   padding: 20px;

   h1 {
      color: white;
   }

   .btn {
      min-width: 220px;
      padding: 12px;
      font-size: 16px;
      background-color: darkblue;
      color: white;
      border: none;
      border-radius: 9px;
      cursor: pointer;
      margin-bottom: 6px;

      &:hover {
         background-color: rgba(0, 0, 0, 0.62);
         backdrop-filter: blur(30px);
         transition: background-color .3s;
      }
   }

   .static-alerts {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
}
